:root {
    --border-theme: #ffab00 3.5px solid;
    --secondary--font: Helvetica, sans-serif;
    --color-text: #ffffff
}

/* Fonte padrão e reset */
@font-face {
    font-family: "pricedown";
    src: url("font/pricedown/pricedown-bl.otf") format("opentype");
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "pricedown", sans-serif;
}

body {
    background-color: white;
}

/* Seção início da página */

#inicio {
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

#navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    border-bottom: var(--border-theme);
    width: 100%;
    z-index: 1000;
    top: 0;
    padding: 1rem 2rem;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    height: auto;
    max-height: 3rem;
    width: auto;
    max-width: 8rem;
}


#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
    list-style-type: none;
}

#menu li {
    margin: 0 1rem;
}

#navegacao a {
    font-family: var(--secondary--font);
    padding: 0.5rem;
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: bolder;
}

#navegacao a:hover {
    border-bottom: 0.1rem solid #ffab00;
}

#titulo-do-inicio {
    font-size: 8rem;
    text-transform: uppercase;
    padding: 0.8em;
    color: var(--color-text);
    -webkit-text-stroke: 3px black;
    text-align: center;
    margin: auto;

}

/* Estilização geral */

main {
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url(images/personagem.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.topico {
    display: flex;
    flex-direction: column;
    padding: 6%;
    margin: auto 2.5%;
}

.titulos-topicos {
    font-size: 6rem;
    text-align: center;
    color: var(--color-text);
    text-shadow: var(--titles-shadow);
}

/* Forms de preenchimento do acesso antecipado */

.titulos-container {
    font-size: 4.5rem;
    text-align: center;
    color: var(--color-text);
    text-shadow: var(--titles-shadow);
}

.container-acesso-antecipado {
    margin: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border-theme);
    scroll-margin: 7.2rem;
}

#formulario {
    text-align: center;
    box-sizing: border-box;

}

#formulario legend {
    padding: 2rem 5rem;
}

#formulario label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--secondary--font);
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
}

#formulario input[type="text"],
#formulario input[type="email"] {
    padding: 0.5rem;
}

#formulario select[name="regiao"] {
    text-align: center;
    height: 3rem;
}

.btn_submit {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffab00;
    text-align: center;
    margin: 5% 0;
}


/* Seção do lançamento - data e plataformas */

#container-lancamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border-theme);
}

#container-lancamento h2 {
    padding: 1.5rem 5rem;
}

#data {
    color: var(--color-text);
    font-family: var(--secondary--font);
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

#data img {
    width: 8%;
    vertical-align: middle;
    margin: auto;
}

#plataformas {
    color: var(--color-text);
    font-family: var(--secondary--font);
    font-size: 1.5rem;
    text-align: center;

}

#tipos-plataformas {
    font-size: 1rem;
    color: var(--color-text);
    font-family: var(--secondary--font);
    text-align: center;
}

.logotipos-plataformas {
    display: flex;
    list-style-type: none;
    padding: auto;
    margin: auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 1.5rem;
}

.logotipos-plataformas li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotipos-plataformas img {
    height: auto;
    max-height: 3rem;
    width: auto;
    max-width: 8rem;
}